<section class="topnav1">
  <a href="/" class="petTital">Pets-R-Us</a>

  <a href="#" class="split">Log In</a>
  <a href="#" class="split">Sign Up</a>
  <a class="active split" href="/" class="">Home</a>
</section>

<!-- second nav bar with image background -->
<section class="bg-img">
  <div class="containerbar">
    <div class="topnav">
      <button class="navbtn"><a href="/">Home</a></button>
      <button class="navbtn"><a href="">Boarding</a></button>
      <button class="navbtn"><a href="grooming">Grooming</a></button>
      <button class="navbtn"><a href="">Training</a></button>
    </div>
  </div>
</section>
