<!-- 
  Title: navbar.ejs
  Author: April Yang
  Date: 06/18/2022
  Description: navbar template will be injecting in web page needed. 
 -->

<!-- Dropdown button with list items -->
<!--  When user register or log in to account, user name will appear in navbar -->
<!-- When log out, user name will be log out, and route return to home -->
<nav>
  <div class="dropdown" style="float: right">
    <button class="dropbtn">My Account</button>
    <div class="dropdown-content">
      <ul>
        <% if(currentUser) { %>

        <br />
        <li>Hi <%= currentUser %>!</li>
        <li><a href="/schedule">Schedule</a></li>
        <!-- <li><a href="/profile">My Profile</a></li> -->
        <li><a href="/logout">Log Out</a></li>
        <% } %> <% if(!currentUser) { %>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
