  <!-- 
  Title: navbarLogin.ejs
  Author: April Yang
  Date: 06/18/2022
  Description: navbarLogin template will be injecting in the page when user log in account. 
 -->

<nav>
  <div class="dropdown" style="float: right">
    <button class="dropbtn">My Account</button>
    <div class="dropdown-content">
      <ul> 
      <li><% if(currentUser) { %>
            <a href="#">Hi <%= currentUser %></a>
        <% } %>
      </li>
    <li><a href="/logout">Log Out</a></a></li>
    <li><% if(!currentUser) { %>
            <a href="register"></a>
       
      </li>
    <li><a href="/login">Log In</a></a></li>
     
      </ul>
    </div>
  </div>
  </nav>