  
  <nav>
  <div class="dropdown" style="float: right">
    <button class="dropbtn">My Account</button>
    <div class="dropdown-content">
      <ul> 
      <li><a href="register">Sign Up</a></li>
      <li></li><a href="login">Log In</a></li>
      <!-- <li></li><a href="#">Link 3</a></li>
      <li></li><a href="#">Link 3</a></li> -->
      </ul>
    </div>
  </div>
  </nav>