<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pets-R-Us</title>
  </head>
  <body>
    <div class="topnav1">
      <a href="#about" class="petTital">Pets-R-Us</a>

      <a href="#news" class="split">Log In</a>
      <a href="#contact" class="split">Sign Up</a>
      <a class="active split" href="#home" class="">Home</a>
    </div>

    <!-- ////////////////////// -->
    <div class="bg-img">
      <div class="containerbar">
        <div class="topnav">
          <button class="navbtn"><a href="./">Home</a></button>
          <button class="navbtn"><a href="">Boarding</a></button>
          <button class="navbtn"><a href="./grooming.html">Grooming</a></button>
          <button class="navbtn"><a href="">Training</a></button>
        </div>
      </div>
    </div>

    <!-- three cards  -->
    <div>
      <h1 style="text-align: center">Grooming Service</h1>
      <p class="companyinfo">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
        Sodales curabitur taciti justo penatibus nunc sociosqu mi sollicitudin.
        Purus blandit est eu lobortis mauris lorem pulvinar. Vivamus integer dui
        ac curabitur himenaeos sem. Lorem ipsum dolor sit amet quis dui
        ridiculus. Semper vulputate platea auctor quisque aliquam ipsum leo hac
        turpis per. Sollicitudin ante amet venenatis ridiculus consectetur
        finibus aenean viverra semper elit. Sodales curabitur taciti justo
        penatibus nunc sociosqu mi sollicitudin. Purus blandit est eu lobortis
        mauris lorem pulvinar. Vivamus integer dui ac curabitur himenaeos sem.
      </p>
      <p id="groomBtn">
        <button class="groomButton">Schedule a service</button>
      </p>
    </div>
      <hr />
      <div>
        <div class="card weekly-dog">
          <div class="card-title">Pricing</div>
          <div class="card-content">
            <img src="./images/test-dog.jpg" class="testDog" alt="" />
            <div class="groomPI">
              <p><strong>SPA Packages:</strong> $25-$65</p>
              <p><strong>Nail Trim:</strong> $10</p>
              <p><strong>Hair Cut:</strong> $25-$65</p>
              <p><strong>Teeth Brushing:</strong> $10</p>
              <p>
                <strong>Customized grooming packages:</strong> Start from $100
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <section class="testimonials">
      <h1 style="text-align: center">Customer Testimonials</h1>

      <p class="quote">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
      </p>
      <p class="author">- John Wong</p>
      <p class="quote">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
      </p>
      <p class="author">- John Wong</p>
      <p class="quote">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
      </p>
      <p class="author">- John Wong</p>
    </section>
  </body>
</html>
