<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- first nav bar -->
    <header><%- include('./partials/header'); %></header>
    <div>
      <h1>Log in</h1>
      <form action="/login">
        <input
          name="username"
          type="text"
          class="form-control"
          placeholder="Username"
          required
          autofocus
        />
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="password"
          required
        />
      </form>
    </div>
    <div>
      <button>Log in</button>
    </div>

    <footer class="footer"><%- include('./partials/footer'); %></footer>
  </body>
</html>
