<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- first nav bar -->
    <header><%- include('./partials/header'); %></header>
    <section class="card-content">
      <div class="form">
        <form action="/register" method="post">
          <div class="form-field">
            <label for="username">Username</label><br />
            <input
              type="text"
              class="input"
              name="username"
              id="username"
              required
              autofocus
            />
          </div>
          <div class="form-field">
            <label for="email">Email</label><br />
            <input
              type="text"
              class="input"
              name="email"
              id="email"
              required
              autofocus
            />
          </div>
          <div class="form-field">
            <label for="password">Password</label><br />
            <input
              type="password"
              class="input"
              name="password"
              id="password"
              required
            />
          </div>

          <div class="form-field">
            <input
              type="submit"
              value="Register"
              class="btn btn-primary full-width"
              style="margin-bottom: 100px"
            />
          </div>
        </form>
      </div>
    </section>

    <section class="container" style="margin-bottom: 300px">
      <div class="card center-div">
        <div class="card-title">User List</div>

        <div class="card-content">
          <% if(users.length > 0) { %>
          <table class="table">
            <tr>
              <th>Username</th>
              <th>Created at</th>
            </tr>
            <tbody>
              <% users.forEach(function(user) { %>
              <tr>
                <td><%= user.username %></td>
                <td><%= moment(user.createdAt).format('MM-DD-YYYY') %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h3>
            Users have not been added to the MongoDB database. Try adding some!
          </h3>
          <% } %>
        </div>
      </div>
    </section>

    <footer style="margin-top: 50px" class="footer">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
