<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- first nav bar -->
    <header><%- include('./partials/header'); %></header>
    <section class="card-content">
      <div class="form">
        <form action="/register" method="post">
          <div class="form-field">
            <label for="username">Username</label><br />
            <input
              type="text"
              class="input"
              name="username"
              id="username"
              required
              autofocus
            />
          </div>
          <div class="form-field">
            <label for="email">Email</label><br />
            <input
              type="text"
              class="input"
              name="email"
              id="email"
              required
              autofocus
            />
          </div>
          <div class="form-field">
            <label for="password">Password</label><br />
            <input
              type="password"
              class="input"
              name="password"
              id="password"
              required
            />
          </div>

          <div class="form-field">
            <input
              type="submit"
              value="Register"
              class="btn btn-primary full-width"
              style="margin-bottom: 100px"
            />
          </div>
        </form>
      </div>
    </section>

    <footer style="margin-top: 50px" class="footer">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
